.logo img {
  width: 25px;
  height: 25px;
}

.logo p {
  font-size: 14px;
  font-weight: bold;
}

.sign-in button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  border-radius: 3px;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}
