.menu-container {
  flex: 1;
  color: #000;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo h1 {
  font-size: 20px;
  margin-left: 5px;
}

.menu-list {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-list .menu-item {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.menu-list .menu-item:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.menu-list .menu-item h4 {
  margin-left: 20px;
  font-weight: 400;
}
